@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --light_background : #FCEEF5;
  --light_background_secondary : #ffffff;
  --light_button : ;
  --light_text : ;
}

* {
  box-sizing: border-box;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    /* text-align: center; */
  }

body {
  background-color: var(--light_background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
}

.container {
    margin: 30px auto;
    width: 90%;
    min-width: 350px;
    max-width: 1200px;
    padding: 1rem;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: var(--main-color);
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

h1,h2,h3,h4{
  color: #E05297;
  font-weight:  700;
  text-shadow: 0 0 10px #F3BAD6;
}

.header {
  display: flex;
}

.header .config__button{
  border-radius: 100%;
  border: 0;
  background-color: #E05297;
  color: #fff;
  font-size: 20px;
  text-align:   center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  outline: 0;
}

.header button:hover {
  background-color: var(--secondary-color);
}

.sweet_alert_container{
  /* width: 100%; */
  overflow: hidden;
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#fecha_corte{
  width: auto;
}
.inputs_container{
  display: flex;
  flex-direction: column;
}
.input_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* justify-content:  center; */
}

.input_container input{
  margin: 0;
}

.inc-exp-container {
  background: linear-gradient(90deg, #FCEEF5 10% 30% , #E05297   );
  box-shadow: var(--box-shadow);
  border: 2px solid #E05297;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 1rem;
  /* gap: 2rem; */
  & h4{
    font-size: 1.4rem;
    text-shadow: 0 0 10px #222831;
    color: #ffffff;
  }
  .money.plus{
    color: #E05297;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;

}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
  border-radius: 1rem 0 0 1rem;
}

.inc-exp-container > div:nth-child(2){
  border-right: 1px solid #dedede;
  border-radius:  0 1rem 1rem 0rem;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] ,
input[type="date"]{
  border: 2px solid #E05297;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #f5be0b;
  font-weight: 700;
}

.btn {
  cursor: pointer;
  background-color: #FCEEF5;
  box-shadow: var(--box-shadow);
  color:#78716c;;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #E05297;
  color: #fff;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  max-height: 200px;
  overflow-y:  scroll;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  -webkit-animation: scale-in-tl 0.5s 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tl 0.5s 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.list li.plus {
  border-right: 5px solid #f5be0b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  padding: 0px 0.6rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* checkbox */
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  padding-top: 0.3rem;
  font: clamp(1rem, 1vw, 3rem) "Glory", sans-serif;
  cursor: pointer;
  font-weight: 700;
  color: #E05297;
  text-shadow:  4px 4px 5px #F3BAD6;
}
.checkbox input[type="checkbox"]:hover + label:hover {
  color: #f5be0b;
}
.checkbox input[type="checkbox"]:hover + label:before {
  background: #f5be0b;
  box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.checkbox input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox.selected input[type="checkbox"]:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #f5be0b;
  box-shadow: 0 0 0 1px #000;
}

.select-form-control{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: flex;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  & label{
    margin: 0;
    font-weight: 700;
    color: #E05297;
    text-shadow:  4px 4px 5px #F3BAD6;
  }
}
.select-form-control select {
  border: 1px solid #dedede;
  border-radius: 0.8rem;
  display: flex;
  font-size: 16px;
  padding: 0.8rem;
  width: 100%;
  margin-top: 10px;
}

.select-form-control select option{
  padding: 0.8rem;
}
.checkbox_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.card{
  cursor: pointer;
  background-color: #E05297;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 1rem;
  position: relative;
  padding: 1.4rem;
}
.card__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:   column;
  width: 100%;
}
.card__header h4{
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #f7f2f2;
}

.card__header p{
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #f7f2f2;
}

.card__btn{
  background-color: #FCEEF5;
  color: #78716c;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  outline: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  transform: translate(0%, -50%);
}

.card__btn:hover{
  background-color: red;
}
/* Contenedor que abarca toda la pantalla y contiene el formulario */
.outer_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000080;
  height: 100vh;
  z-index: 100;
  overflow:   hidden;
  animation: popUp 0.3s ease-in-out;
}

@keyframes popUp {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.form_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.button_form{
  padding: 1rem;
  background-color: #E05297;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 2rem 3rem;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  outline: 0;
}

.animate__fadeOut{
  animation: fadeOut 0.81111s ease-in-out;
}

@keyframes fadeOut {
  0%{
    scale: 1;
  }
  100%{
    scale: 0;
  }
}

body:has(.active){
  overflow: hidden;
}

#root:has(.active){
  overflow: hidden;
}
label{
  color: #E05297;
  font-weight: bolder;
}



@media screen and (max-width: 768px) {
  .container{
    width: 100%;
  }
  .inc-exp-container {
    flex-direction: column;
  }

  .inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
    border-radius: 1rem 1rem 0 0 ;
  }
  .inc-exp-container > div:nth-child(2){
    border-right: 1px solid #dedede;
    border-radius:  0 0 1rem 1rem;
    margin-top: 1rem;
  }

  .list {
    max-height: 150px;
  }
}

@media screen and (width < 450px) {
  .container {
    width: 100%;
  }
}

@media screen and (width >700px) {

  #root{
    width: clamp(350px, 100%, 1000px);
  }
  .records__container{
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
  }
  .records__list{
    flex: 0.5;
  }
  .records__form{
    flex: 0.5;
  }
  .filters__box{
    display: flex;
    gap: 1rem;
  }
}



/* ANIMACIONES */

/* ----------------------------------------------
 * Generated by Animista on 2023-7-13 12:25:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}



.select-styled option {
  animation: fade-in 10s forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Agregando modo obscuro solo con css*/
@media (prefers-color-scheme: dark) {
  /* valiables */
  :root {
    --main-color: #222831;
    --secondary-color: #00ADB5;
    --third-color: #AC7DD2;
    --light-color: #fff;
    --dark-color: #454e59;
  }
  body {
    background: var(--main-color);
  }
  .inc-exp-container {
    background : linear-gradient(270deg, var(--light-color), var(--secondary-color));
    box-shadow: var(--box-shadow);
    & div {
      background: var(--dark-color);
      padding: 1rem;
      font-size: 1rem;
      font-weight: bolder;
      & h4{
        text-shadow: 0 0 10px var(--dark-color);
        color: #f7f2f2;  
      }
      .plus{
        color: #AC7DD2
      }
      .minus{
        color: var(--secondary-color);
      }
    }
  }

  h1,h2,h3,h4,p{
    color: var(--secondary-color);
  }
  label{
    color: #AC7DD2;
    font-weight: bolder;
  }
  input[type="text"],
  input[type="number"] ,
  input[type="date"] 
  {
    background-color: var(--dark-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 700;
    &::placeholder{
      color: var(--secondary-color);
      font-weight: 700;
    }
  }
  
  .select-styled{
    background-color: var(--dark-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 700;
    &::placeholder{
      color: var(--third-color);
      font-weight: 700;
      text-transform: uppercase;
    }
    & option{
      color: var(--third-color);
      font-weight: 700;
    }
  }
  .btn, .button_form{
    background-color: #AAE3E2;
    text-shadow: 0 0 10px var(--dark-color);
  }
  .form_container{
    background-color: var(--dark-color);
    .card{
      background-color: var(--main-color);
      .card__btn{
        background-color: var(--secondary-color);
      }
    }
  }
  .select-form-control{
    background-color: #222831;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    & label{
      color: var(--secondary-color);
      text-shadow: 0 0 10px var(--dark-color);
    }
  }
  .inc-exp-container{
      border: 3px solid #AC7DD2;
      & div .money.plus{
        color: #AC7DD2;
      }
  }
  .checkbox input[type="checkbox"] + label{
    color: #00ADB5;
    text-shadow: 0 0 10px var(--dark-color);
  }
  .checkbox.selected input[type="checkbox"]:checked + label:before{
    background: #AC7DD2;
    box-shadow: 0 0 0 1px #000;
  }
  .checkbox input[type="checkbox"]:hover + label:hover{
    color: #AC7DD2;
  }
  .checkbox input[type="checkbox"]:hover + label:before{
    background: #AC7DD2;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  .list li.plus{
    border-right: 5px solid #AC7DD2;
  }
  .header .config__button{
    background-color: #00ADB5;
  }
  .btn{
    color: var(--dark-color);
  }
  .btn:hover{
    background-color: #AC7DD2;
    color: var(--light-color);
  }
}
